<h1>Editing city</h1>

<%= render 'form' %>

<div class="btn-defaut">
  <button type="button" class="btn btn-default btn-sm"><%= link_to 'Back', cities_path %></button>
  <button type="button" class="btn btn-default btn-sm"><%= link_to 'Show', @city %></button>
</div> 
